body {
  padding-top: 60px;
}

h1, h2 {
  text-align: center;
}

.order-summary {
  text-align: right;
  p {
    text-transform: uppercase;
  }
}

.avatar {
  border: 2px solid #f5f5f5;
  position: relative;
  top: 5px;
}

.gl-right {
  float: right;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  p {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
