.alert-notice {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text)
}

.alert-alert {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text)
 }
